* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}



body {
  background: #000;
  color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./images/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.language-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid white;
  padding: 7px 10px;
}

.language-btn img {
  width: 10px;
  margin-left: 10px;
}
/* ================================================================== */
/* header main content */

.headerContent {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.headerContent h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}

.headerContent h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.emailSignup {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.emailSignup input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.emailSignup button {
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}

hr {
  border: 3px solid rgb(45, 44, 44);
  width: 100%;
  margin: 0;
}

/* ================================================================== */
/* Features */

.reverse {
  flex-direction: row-reverse;
}

.features {
  padding: 50px 12%;
  font-size: 22px;
  
}

.row  {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.textColumn {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.imgColumn {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.imgColumn img {
  display: block;
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 43px;
  font-weight: 650;
  margin-bottom: 20px;
}

.features p {
  font-size: 18px;
}

/* ================================================================== */
/* Freqently Asked Questions */

.faq {
  padding: 10px 12%;
  font-size: 18px;
  text-align: center;
}

.faq h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 80px;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
}

input[type = "radio"] {
  display: none;
}

.accordion .content {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0;
}

.accordion input[type = "radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}
